#about {
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
}

#about > div.about__image > img { 
    width: 100%;
}

#about > div.about__info > h2 {
    font-size: 48px;
}

#about > div.about__info > p {
    font-family: var(--p-font-family);
    font-size: 18px;
    color:var(--p-text-color2);
}
@media (min-width: 768px){
    #about {        
        flex-direction: row;
    
    }
}
