#about {
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
}

#about > div.about__image > img { 
    width: 100%;
}

#about > div.about__info > h2 {
    font-size: 48px;
}

#about > div.about__info > p {
    font-family: var(--p-font-family);
    font-size: 18px;
    color:var(--p-text-color2);
}
#about > div.about__info span.slider-dot {
    height: 10px;
    width: 10px;
    margin: 10px;
    background-color: #e9c0bd;
    border-radius: 50%;
    display: inline-block;
}
@media (min-width: 768px){
    #about {        
        flex-direction: row;
    
    }
}
