.contact_us__main {
    background: url(../img/special_offer/main_bg_contactus.png) center center/cover no-repeat;
    min-height: 438px;
    max-width: 100%;
  }
  
  .contact_us > .container {
    padding: 60px 15px;
    margin: auto;
  }
  
  .contact_us__holder {
    padding: 120px 80px;
    min-height: 345px;
    max-width: 100%;
  }
  
  .contact_us_subheader > .subheader {
    color: white;
    padding: 0;
    line-height: 18px;
    font-weight: 400;
  }
  
  @media (min-width: 750px) {
    .contact_us_subheader > .subheader {
      font-size: 18px;
      line-height: 18px;
    }
  }
  @media (min-width: 990px) {
    .contact_us_subheader > .subheader {
      font-size: 22px;
      line-height: 22px;
    }
  }
  
  .contact_us_phone_link {
    text-decoration: none;
    color: white;
  }
  
  .contact_us_phone_link:hover {
    text-decoration: underline;
  }
  .contact_us_header,
  .contact_us_text {
    font-size: 34px;
    color: white;
    font-weight: 600;
    line-height: 46px;
    padding-top: 10px;
    line-height: 51px;
  }
  
  @media (min-width: 750px) {
    .contact_us_header,
    .contact_us_text {
      font-size: 38px;
    }
  }
  @media (min-width: 990px) {
    .contact_us_header,
    .contact_us_text {
      font-size: 42px;
    }
  }
  
  .contact_us_btn {
    padding-top: 40px;
  }
  