.sale__discount {
    margin: 15px;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    
}
.sale__discount__free {
    margin: 10px;
    background-image: url(..//img/sale__discount/background_buy.png);
    background-position: 61% 48%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 29px;
    padding-right: 29px;
    max-width: 100%;
    flex-direction: column;
    color: white;
    display: block;
}
.sale__discount__off {
    margin: 10px;
    background-image: url(..//img/sale__discount/background_off.png);
    background-position: 89% 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 29px;
    padding-right: 29px;
    max-width: 100%;
    flex-direction: column;
    color: white;
}
.sale__discount__buy__button {
    border: 2px solid white;
    padding: 20px 50px 20px 50px;
    margin-top: 40px;
    max-width: 230px;
    max-height: 100px;
    display: flex;
    text-align: center;
    align-items:flex-end;
    
    border-radius: 2px;
}
.sale__discount__buy__button:hover {
    background-color: white;
    color: black;
    text-decoration-color: black;
}
.sale__discount__right__arrow:hover {
    content: url(..//img/sale__discount/right__arrow.png);
}
.sale__discount__buy__button__inner {
    margin: auto;
    color: white;
    display: flex;

}


.sale__discount__h {
    font-family: Grand Hotel,undefined;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.08px;
    
}
.sale__discount__text {
    font-size: 42px;
    color: white;
    line-height: 1.2;
    font-family: Playfair Display,serif;
    font-weight: 600;
    margin-top: 20px;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}    


@media (max-width: 768px){
    .sale__discount {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .sale__discount__h {
        font-size: 22px;
    }
}