.about-section {
    color: rgb(79, 79, 79);
    display: inline;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;

  }
  .nav-tabs {
    display: inline-flex;
    position: relative;
    padding: 70px 0px 10px 0px;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    flex-shrink: 0;
  }
  .nav-item {
    border-color: rgb(115, 115, 115);
    box-sizing: border-box;
    color: rgb(115, 115, 115);
    cursor: pointer;
    display: inline;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    line-height: 28.08px;
  }
  .nav-item:hover {
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 37, 40);
    transition: 0.2s ease-in-out;
  }
  .nav-shop {
    height: 58px;
    justify-content: flex-start;
    line-height: 25px;
    min-width: 100%;
    position: relative;
    vertical-align: baseline;
    width: 1170px;
  }
  .nav-link {
    color: rgb(115, 115, 115);
  }
  .nav-link:hover {
    color: rgb(115, 115, 115);
  }
  .img-shop {
    height: 226px;
    line-height: 25px;
    margin: auto;
    vertical-align: baseline;
    width: 226px;
  }
  .link-shop {
    font-size: 18px;
    line-height: 1.56;
    font-family: Fira Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #737373;
    text-transform: none;
  }
  .link-shop:hover {
    color: rgb(115, 115, 115);
    text-decoration: underline;
  }
  .price-shop {
    color: rgb(187, 37, 40);
    font-size: 18px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    margin-top: 16px;
    width: 53px;
  }
  .cart-shop {
    background-color: white;
    border-color: rgb(187, 37, 40);
    color: rgb(187, 37, 40);
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    height: 45px;
    line-height: 13px;
    text-align: center;
    width: 120px;
    margin: auto;
    border-width: 2px;
    margin-top: 24px;
    border-width: 2px;
  }
  .cart-shop:hover {
    background-color: rgb(187, 37, 40);
    border-color: rgb(187, 37, 40);
    color: white;
    transition: 0.2s ease-in-out;
  }
  .card {
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #f9f4ee;
    padding-bottom: 2em;
  }
  .header__shop {
    margin-left: 175px;
    margin-top: 40px;
  }
  .cart__button {
    background-color: #ffffff;
    position: fixed;
    top: 80px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 1px rgb(33 39 54 / 4%), 0 2px 4px rgb(33 39 54 / 16%);
    z-index: 2;
}

.cart-button-icon__img {
    position: inherit;
    height: 70px;
    width: 70px;
    margin: auto;
    padding: 15px;
    border: 4px;
}

.cart-button-counter__placeholder {
    background-color: var(--store-yellow-text);
    top: -2px;
    right: -2px;
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.popup__header {
    padding: 16px;
    background-color: lightgray;
}

.modal-form__container {
    background-color: #ffffff;
    position: relative;

}

.close-btn{
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    color: #1B1D1F;
    background: none;
    cursor: pointer;
    border: 0;
    font-weight: 400;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.0em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.0em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.0em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}


.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.0em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.0em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.0em;
  width: 155px;
  font-size: 13px;
  font-weight: 500;
  height: 62.5px;
  color: white;
  background-color: #bb2528;
  border-color: #bb2528;
  transition: all 0.2s ease-in-out;
}

.btn-purchase:hover {
  background-color: black;
}

.cart_widget {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #fcf082;
  border: 2px solid red;
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 10;
}
.fa-stack[data-score]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-score);
  font-size:50%;
  padding:1em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#000000;
  text-align:center;
  min-width:3em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:#fcfa7f;
}
.red-cart {
  color: #DF0000; background:white;
}

.item-heading {
  line-height: 1.56;
    font-family: Fira Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: black;
    text-transform: none;
}
.popup__header {
  background-color: rgb(247, 248, 250);
  color: #232323;
}

.section-header {
    font-size: 16px;
    line-height: 1.6;
    font-family: Fira Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #737373;
    text-transform: none;
}