.about-section {
    color: rgb(79, 79, 79);
    display: inline;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }
  .nav-tabs {
    display: inline-flex;
    position: relative;
    padding: 70px 0px 10px 0px;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    flex-shrink: 0;
  }
  .nav-item {
    border-color: rgb(115, 115, 115);
    box-sizing: border-box;
    color: rgb(115, 115, 115);
    cursor: pointer;
    display: inline;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    line-height: 28.08px;
  }
  .nav-item:hover {
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 37, 40);
    transition: 0.2s ease-in-out;
  }
  .nav-shop {
    height: 58px;
    justify-content: flex-start;
    line-height: 25px;
    min-width: 100%;
    position: relative;
    vertical-align: baseline;
    width: 1170px;
  }
  .img-shop {
    height: 226px;
    line-height: 25px;
    margin: auto;
    vertical-align: baseline;
    width: 226px;
  }
  .link-shop {
    font-size: 18px;
    line-height: 1.56;
    font-family: Fira Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #737373;
    text-transform: none;
  }
  .price-shop {
    color: rgb(187, 37, 40);
    font-size: 18px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    margin-top: 16px;
    width: 53px;
  }
  .cart-shop {
    background-color: white;
    border-color: rgb(187, 37, 40);
    color: rgb(187, 37, 40);
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    height: 45px;
    line-height: 13px;
    text-align: center;
    width: 120px;
    margin: auto;
    border-width: 2px;
  }
  .cart-shop:hover {
    background-color: rgb(187, 37, 40);
    border-color: rgb(187, 37, 40);
    color: white;
    transition: 0.2s ease-in-out;
  }
  .card {
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #f9f4ee;
    padding-bottom: 2em;
  }
  .header__shop {
    margin-left: 175px;
    margin-top: 40px;
  }
 